/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  background-color: #ac72ac; 
  width: 16rem; /* w-64 */
  height: 100vh; /* h-screen */
  padding: 1rem; /* p-4 */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
