/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app {
    @apply text-center;
  }

  .navbar {
    width:max-content;
    height: 80px;
    background-color: slateblue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-links {
    @apply text-center mr-12;
  }

  .link {
    @apply text-white no-underline border-b-4 border-white pb-1 mx-2;
  }

  .user-section {
    @apply flex items-center justify-center mr-12;
  }

  .user-name {
    @apply text-sm mr-2 text-white;
  }

  .user-image {
    @apply w-10 h-10 rounded-full;
  }

  .create-post {
    @apply w-full flex justify-center mt-12;
  }

  .form {
    @apply p-6 w-full max-w-xs rounded bg-white bg-opacity-60 backdrop-blur-sm overflow-hidden;
  }

  .input,
  .textarea {
    @apply p-2 my-2 mx-2 bg-blue-100 border-0 rounded text-purple-700 text-lg;
  }

  .submit-button:hover {
    @apply cursor-pointer;
  }
}
